/* index, 모든 sub 적용항 공통 header, footer common.css */
.wrap {}
.wrap header {}
.wrap header h1 {}
.wrap header h1 a {}
.wrap header h1 a img {}
.wrap header nav {}
.wrap header nav .gnb {}
.wrap header nav .gnb li {}
.wrap header nav .gnb li a {
    font-size:1.125rem;
    font-weight:600;
    letter-spacing:-0.02rem;
    /* 이미 자간,행간,색깔,정렬은 reset에 값을 적어둠 */
}
.wrap header .right_menu_wrap {}
.wrap header .right_menu_wrap li {}
.wrap header .right_menu_wrap li a{
    font-size:0.75;
}
.wrap header .right_menu_wrap li a img {}
/* ==============================================================footer */
.wrap footer {}
.wrap footer .top {}
.wrap footer .top .left_menu {}
.wrap footer .top .left_menu a{
    letter-spacing:-0.02rem;
}
.wrap footer .top .left_menu a:nth-child(1) {
    font-weight:700;
    color:#138FBF;
} /* :first-child */
.wrap footer .top .left_menu a:nth-child(2) {
    font-weight:700;
    color:#DA2128;

}
.wrap footer .top .left_menu a img {}
.wrap footer .top .right_menu {}
/* ===========================footer 패밀리사이트+사이트맵 공통 */
.wrap footer .top .right_menu .site {
    border:1px solid #eee;
    font-size:0.75rem;
    letter-spacing:-0.02rem;
    padding:7px 10px;   
}
/* ===========================footer 패밀리사이트+사이트맵 개별 */
.wrap footer .top .right_menu select {}
.wrap footer .top .right_menu select option {}
.wrap footer .top .right_menu .site_map {}
.wrap footer .top .right_menu .site_map span {}
.wrap footer .top .right_menu .site_map img {}
.wrap footer .bottom {}
.wrap footer .bottom * {
    font-size:0.875rem;
    letter-spacing:-0.02rem;
    color:#808080;
}
.wrap footer .bottom address {
/*     font-size:0.875rem;
    letter-spacing:-0.02rem;
    color:#808080; */
    line-height:1.5;
}
.wrap footer .bottom address em {
/*     color:#808080; */
    font-weight:600;
}
.wrap footer .bottom p {
/*     font-size:0.875rem;
    letter-spacing:-0.02rem;
    color:#808080; */
}