/* index, 모든 sub 적용항 공통 header, footer common.css */
.wrap {}
.wrap header {
    background-color:aqua;
    height:92px;
    padding:0 60px;
    /* container(header) item(h1,nav,right_menu) */
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    position:relative;/* lnb_bg의 부모 위치 기준 설정 */
}
.wrap header h1 {}
.wrap header h1 a {}
.wrap header h1 a img {}
.wrap header nav {
    background-color:lime;
}
.wrap header nav .gnb {
    /* container(.gnb) item(li) */
    display:flex;
    flex-flow:row nowrap;
}
.wrap header nav .gnb > li {
    margin-right:60px;
}
.wrap header nav .gnb > li:last-child {
    margin-right:0;
}
.wrap header nav .gnb > li:first-child:hover .lnb_bg {
    display:block;
}
/* brands lnb편집 */
.wrap header nav .gnb > li:nth-child(2) .lnb_bg{}
.wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 {}
.wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li > a {
    text-transform:uppercase;
}
.wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li h2 {
    font-size:1.063rem; font-weight:600; margin-bottom:14px;
    text-transform:uppercase;
}
.wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li .lnb_depth2 {
    width:287px;
    display:flex;
    flex-flow:row wrap;
    justify-content:flex-start;
    align-content:center;
}
.wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li .lnb_depth2 li {
    width:134px; height:51px;
    margin-right:15px;
    filter:grayscale(100%)
}
.wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li .lnb_depth2 li:nth-child(odd) {
    background:#fff url(../images/family_logo/family3.png) no-repeat center center;
}
.wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li .lnb_depth2 li:nth-child(even) {
    background:#fff url(../images/family_logo/family2.png) no-repeat center center;
}
.wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li .lnb_depth2 li:nth-child(3n) {
    background:#fff url(../images/family_logo/family4.png) no-repeat center center;
}
.wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li:nth-child(2) .lnb_depth2 li:nth-last-of-type(2) {
    margin-bottom:0;
}
.wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li:nth-child(4) .lnb_depth2 li:nth-last-of-type(2) {
    margin-bottom:0;
}
.wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li .lnb_depth2 li:nth-of-type(even) {margin-right:0;}/* 우측 마진 초기화 */
.wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li .lnb_depth2 li a {}
.wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li:first-child .lnb_depth2 {
    width:259px;  /* 로고와 텍스트를 감싸고 있는 그룹의 너비 */
}
.wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li:first-child .lnb_depth2 li {
    width:259px; height:139px; /* FAMILY BRAND 너비값 */
    background:#fff url(../images/family_logo/family1.png) no-repeat center center;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    margin-right:0;/* 다른 li에 준 margin값 초기화화 */
}
.wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 li:first-child .lnb_depth2 li:last-child {
    background:none; width:max-content; height:max-content;
    margin:0 auto;
    /* 종합식품기업 브랜드 삼립 텍스트. */
}
.wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 li:first-child .lnb_depth2 li a {}
.wrap header nav .gnb > li:nth-child(2):hover .lnb_bg {
    display:block;
}
.wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 li .lnb_depth2 li:hover{filter:none;}/* li에 닿으면 그부분만 컬러로 전환되는 선택자자 */
/* brands lnb 편집 끝 */
.wrap header nav .gnb > li:nth-child(3):hover .lnb_bg {
    display:block;
}
.wrap header nav .gnb > li > a {
    font-size:1.125rem;
    font-weight:600;
    letter-spacing:-0.02rem;
    /* 이미 자간,행간,색깔,정렬은 reset에 값을 적어둠 */
    border:1px solid red;
    height:92px; display:block;
    line-height:92px;
}
/* ===서브메뉴 */
.wrap header nav .gnb > li .lnb_bg {
    background:rgba(255,255,255,0.8);
    position:absolute;
    left:0; top:92px;
    width:100%;/* absolute가 적용되어있으면,position이 적용된 부모의 크기에 맞춰서 상대값(%)으로 너비설정이 가능하다. */
    padding:50px 0;
    display:none;/* 마우스 올릴때만 보이도록 숨김 */
}
.wrap header nav .gnb > li .lnb_bg .lnb_depth1 {
    background-color:yellow;
    width:max-content;margin:0 auto;
    display:flex;
    flex-flow:row nowrap;
    text-align:center;
}
.wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li {
    margin-right:100px;
}
.wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li:last-child {
    margin-right:0;
}
.wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li > a {
    display:block;
    margin-bottom:14px;
    font-size:1.063rem;
    font-weight:600;
}
.wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 {
    border:2px solid red;
}
.wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 li {
    margin-bottom:16px;
}
.wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 li:last-child {
    margin-bottom:0;
}
.wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 li a {}
.wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 li a:last-child {}
/* ====우측보조메뉴 */
.wrap header .right_menu_wrap {
    background-color:yellow;
    display:flex;
    flex-flow:row nowrap;
}
.wrap header .right_menu_wrap li {
    margin-left:30px;
}
.wrap header .right_menu_wrap li:first-child {
    margin-left:0;
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
}
.wrap header .right_menu_wrap li:first-child a {}
/* 포토샵, 피그마에서 디자인한 구분선 디자인은 CSS에서 가상선택자 after또는 before를 이용하여 면으로 변경하여 디자인한다. */
.wrap header .right_menu_wrap li:first-child::after {
    content:''; /* 빈공간을 두는것은 <dd></dd>를 비우는것과 비슷한 원리 */
    display:inline-block;
    width:1px; height: 20px;;
    background-color:#000;
    /* 위의 너비, 높이, 배경색은 선을 만들기 위한 속성 */
    margin-left:30px;
}
.wrap header .right_menu_wrap li a{
    font-size:0.75;
}
.wrap header .right_menu_wrap li a img {}
/* ==============================================================footer */
.wrap footer {
    background-color:aqua;
    width:1280px; margin:0 auto;
    padding:50px 0;
}
.wrap .footer_full_w{
    width:100%;
    padding:50px 60px;
}
.wrap footer .top {
    background-color:lime;
    margin-bottom:12px;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
}
.wrap footer .top .left_menu {
    background-color:orange;
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
}
.wrap footer .top .left_menu a{
    letter-spacing:-0.02rem;
    margin-right:60px;
}
.wrap footer .top .left_menu a:last-child {
    margin-right:0;
}
.wrap footer .top .left_menu a:nth-child(1) {
    font-weight:700;
    color:#138FBF;
} /* :first-child */
.wrap footer .top .left_menu a:nth-child(2) {
    font-weight:700;
    color:#DA2128;

}
.wrap footer .top .left_menu a img {}
.wrap footer .top .right_menu {
    background-color:yellow;
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
}
/* ===========================footer 패밀리사이트+사이트맵 공통 */
.wrap footer .top .right_menu .site {
    border:1px solid #eee;
    font-size:0.75rem;
    letter-spacing:-0.02rem;
    padding:7px 10px;
    height:38px;
}
/* ===========================footer 패밀리사이트+사이트맵 개별 */
.wrap footer .top .right_menu select {
    width:197px; outline:none;
    background:#fff url(../images/arrow_bottom_icon.png) no-repeat 95% center;
}
.wrap footer .top .right_menu select option {}
.wrap footer .top .right_menu .site_map {
    width:135px;
    background-color:#fff;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    margin-left:20px;
}
.wrap footer .top .right_menu .site_map span {}
.wrap footer .top .right_menu .site_map img {}
.wrap footer .bottom {}
.wrap footer .bottom * {
    font-size:0.875rem;
    letter-spacing:-0.02rem;
    color:#808080;
}
.wrap footer .bottom address {
/*     font-size:0.875rem;
    letter-spacing:-0.02rem;
    color:#808080; */
    line-height:1.5;
    margin-bottom:50px;
}
.wrap footer .bottom address em {
/*     color:#808080; */
    font-weight:600;
}
.wrap footer .bottom p {
/*     font-size:0.875rem;
    letter-spacing:-0.02rem;
    color:#808080; */
}