.wrap main {}
.wrap main .path {
    text-align:right;
    margin-left:10px;
    padding:15px 60px 15px 0;
    border:1px solid #f1f1f1;
    border-left:0;
    border-right:0;
    background-color:#fcfcfc;
    margin-bottom:60px;
}
.wrap main .path a {
    font-size:0.72rem;
}
.wrap main .path img {
    margin:0 10px;
}
.wrap main .path em {
    font-size:0.72rem;
    font-weight:600;
}
.wrap main > * {
    text-align:center;
}
.wrap main h1 {
    font-size:3rem;
    font-weight:700;
    margin-bottom:20px;
}
.wrap main > p {
    font-size:1.125rem;
    margin-bottom:60px;
}
.wrap main .bg {
    background-color:#fcfcfc;
    padding:80px 0;
}
.wrap main .bg .sns_list {
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
}
.wrap main .bg .sns_list a {
    width:350px; height:350px;
    border:1px solid #ddd;
    margin-right:30px;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
}
.wrap main .bg .sns_list a:last-child {
    margin-right:0;
}
.wrap main .bg .sns_list a:hover {
    border:1px solid #138FBF;
    box-shadow:0 0 30px rgba(0,0,0,0.2);
}
.wrap main .bg .sns_list a h2 {margin-bottom:30px;}
.wrap main .bg .sns_list a h2 img {}
.wrap main .bg .sns_list a h3 {
    font-size:1.75rem;
    font-weight:600;
    margin-bottom:15px;
}
.wrap main .bg .sns_list a p {}